.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.my-custome-button-edit {
  background-color: #e6f7fc;
  color: #0dcaf0;
  border: none;
  border-radius: 5px;
}

.my-custome-button-edit:hover {
  background-color: #0dcaf0;
  color: #e6f7fc;
}
.my-custome-button-delete {
  background-color: #feede9;
  color: red;
  border: none;
  border-radius: 5px;
}

.my-custome-button-delete:hover {
  background-color: red;
  color: #feede9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
}
